.card-design{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.remove-btn:hover{
    background: rgb(243, 23, 7);
    color: white;
    border-color:rgb(243, 23, 7);
    cursor:pointer;
}

.remove-btn{
    padding: 2px 5px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
}