.cart{
    box-shadow: 1px 1px 5px gray;
}
.place-img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.btn-style{
    background-color: chocolate;
    color: white;
    font-weight: 600;
    padding: 7px 15px;
}
.btn-style:hover{
    background-color: white;
    color: chocolate;
    border: 2px solid chocolate
}