.submit-order{
    background-color: azure;
    border: 1px;
    
}
 .submit-order form{
    margin-top: 50px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .submit-order form input, textarea{
    width: 40%;
    margin: 10px;
 } 