 .submit-order form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .submit-order form input, textarea{
    width: 60%;
    margin: 6px;
    padding: .3rem;
    border-radius: 5px;
    border: 1px solid #323232;
 } 