.communication-area {
    margin: auto;
    width: 80%;
    border-radius: 7rem 7rem 0 0;
    background: #fff;
    position: absolute;
    transform: translateY(-132px);
    z-index: 2;
    /* align-items: center; */
}

.transports {
    font-size: 14px;
    font-weight: 700;
    color: midnightblue;
    padding: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.transports img {
    height: 1.8rem;
    color: white !important;
}

.transports:hover img {
    filter: brightness(0) invert(1);
}

.baggage {
    filter: none !important;
    /* border: 1px solid red; */
}

.transports:hover {
    background: #fa9e1b;
    color: #fff;
}

.transports .active {
    background: #fa9e1b;
    color: #fff;
}

.transports.active img {
    filter: brightness(0) invert(1);
}

.transports:first-child {
    border-top-left-radius: 94px;
    padding-left: 7px;
    background: #fa9e1b;
    color: #fff;
}

.transports:last-child {
    border-top-right-radius: 94px;
    padding-right: 12px
}

.bg {
    background: rgba(54,19,84,.6)url(../../../image/banner8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    background-blend-mode: darken;

    /* clip-path: circle(70% at 8% 50%); */
}

.text {
    text-align: justify;
}

.text-bg {
    clip-path: circle(81% at 73% 50%);
    background-color: orange;

}
@media only screen and (min-width:1440px) {
    .text-bg {
        clip-path: circle(90% at 85% 50%);
        padding: 0 40px;
    }
}
@media only screen and (max-width:1024px) {
    .text-bg {
        clip-path: circle(80% at 92% 50%);
        padding: 0 40px;
    }

    .col-md-6 h5 {
        font-size: 17px;
    }

    .col-md-6 h2 {
        font-size: 22px;
    }

}

@media only screen and (max-width:768px) {
    .bg{
        height: 60vh;
    }
    .text-bg {
        background: transparent;
        clip-path: inset(0 0 0 0);
        padding: 0;
        margin: 0;
    }

    .col-md-6 h1 {
        font-size: 22px;
        margin: 20px 0;
        padding: 0;
    }

    .col-md-6 h3 {
        font-size: 18px;
    }

    .col-md-6 h5 {
        color: white !important;
        margin: 0;
        font-size: 13px;
    }

    .col-md-6 h2 {
        color: white !important;
        font-size: 20px;
    }
}

@media only screen and (max-width:425px) {
    .bg{
        height: 85vh;
    }
    .communication-area {
        width: 100%;
        border: 20px solid var(--purple-transparent);
        border-radius: 0%;
        transform: translateY(0);
        position: relative;
    }

    .transports:first-child,
    .transports:last-child {
        border-radius: 0%;
    }

}