.add-service{
    padding:22px;
}
 .add-service form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .add-service form input, textarea{
    margin-bottom: .7rem;
    padding: .3rem;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #323232;
 } 

 @media only screen and (max-width:425px) {
    .add-service, .add-service form{
        padding: 0;
    }
    .add-service form input, textarea{
        width: 95%;
     } 
 }