@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Teko:wght@500;600&family=Tourney:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {

  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, .7);
  --purple-transparent-alt: rgba(53, 10, 79, .5);
  --purple-light: #8f50fb;
  --orange-light: #fa9e2c;
  --gradient-color: linear-gradient(to right, var(--orange-light), var(--purple-light));
  --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--orange-light));
}

.App {
  background-color: seashell;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #350a4f;
  border-radius: 1rem;
  outline: none;
}

.font-google {
  font-family:  'Satisfy', cursive;
}