/* carousel image darken */
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #350A4E;
  opacity: 0.3;
  /* z-index: 1; */
  }  
.carousel-caption {
	z-index: 99;
  }
.hero-img{
  height: 90vh;
  width: 100%;
}
.carousel-caption{
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
  z-index: 2;
}
.hero-heading{
  font-size: 3.2rem;
  text-align: start;
}

.carousel-btn{
  background-color: transparent;
  color: white ;
  font-size: 19px;
  font-weight: 500;
  margin-top: 3rem;
  padding: .6rem 3.5rem;
  border-radius: 2rem;
  border: 2px solid #ffff;
 
}
.carousel-btn:hover{
  background-color: orange;
  color: white;
  font-weight: 500;
  border: 2px solid white;
}
/* carousel button */
.carousel-indicators [data-bs-target] {
    border-top: none;
    border-bottom: none;
    border-radius: 55%;
    height:8px;
    width: 8px;
    margin:0 10px 80px 0;
    background-color: #ffff;
  }
.carousel-indicators .active{
    background-color: orange;
}
@media only screen and (max-width: 425px){
  .hero-heading{
    font-size: 2.2rem;
    text-align: start;
  }
  .carousel-btn{
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    padding: .6rem 2rem;
    border-radius: 2rem;
    border: 2px solid #ffff;
   
  }
 }
